body {
	text-align: justify;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:small; 
	background:#030303;
}
.account{
    width:1;
	height: 600px;
	padding-top: 100px;
	padding-left: 28px;
	padding-right: 20px;
	margin: 0px auto;
    text-align: center;
	color: #ccc;
	font-size: 40px;
	background-color: #030303;

}
.acc input{
	width:300px;
	height:30px;
	
}

.regis{
    width:1;
	height: 500px;
	padding-top: 100px;
	padding-left: 28px;
	padding-right: 20px;
	margin: 0px auto;
    text-align: center;
	color: #ccc;
	font-size: 40px;
	background-color: #030303;

}
.reg input{
	width:300px;
	height:30px;
	
}
h1 {
	color: whitesmoke;
}

h2,h3{
	margin-top: 0px;
	color: whitesmoke;
}

h4, h5, h6 {
	color: whitesmoke;
}
span{
	color: #666666
}

p, ol, ul, dl, blockquote {
	font-size: 20px;
	color: whitesmoke;
}

a {
	color: #353B11;
}

a:hover {
	text-decoration: none;
}

.img1 {
	float: left;
	margin: 3px 15px 0px 0px;
}

#Login {
	width:1;
	height: 30px;
	padding-top: 5px;
	padding-left: 28px;
	padding-right: 20px;
	margin: 0px auto;
    text-align: right;
	color: #ccc;
	font-size: 20px;
	background-color: #030303;

}
 
#Login a {
 color: #F3E8E8;
 text-decoration: none;
}


 
    a{
		text-decoration-line: none;
}   
    ul,li{
		list-style: none;
		color:aliceblue;
}
    nav .level>li{
		float: left;
		width: 20%;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 25px; 
		background: url(images/m1.jpg)no-repeat;	
		background-size: 100% 100%;
		font-size: 26px;
		margin: 0px auto;
}
    nav .level>li a{
		color:#fff;
		text-decoration: none;
		font-size: 26px
}
    nav .level>li a:hover{
		color:#EDEC0F;
		text-decoration: none;
		font-size: 26px
}
    nav .level>li:hover{
		background:url(images/m1-act.jpg)no-repeat;
		background-size: 100% 100%;
}  
    nav .two{
		display: none;
} 
    nav .level>li:hover .two{
		display: block;
		background:url(images/m1-cat.jpg)no-repeat;
		background-size: 100% 100%;
}   

#menu {

	margin: 0px auto;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}


#header {
	width: 100%;
	height: 525px;
	margin: 0px auto;
	background: url("images/key01.jpg") no-repeat;
	background-size: 100% 100%;
}

#header h1 {
	margin: 0px;
	padding: 260px 200px 0 680px;
	font-size: 100px;
	font-style: italic;
}

#header h2 {
	margin: 0;
	padding: 0px 0 0 680px;
	font-size: 40px;
	font-style: italic;
	color:#666666 ;
}

#header a {
	text-decoration: none;
	color:#000000;
}

.Sear{
    width:1;
	height: 100px;
	padding-top: 100px;
	padding-left: 28px;
	padding-right: 20px;
	margin: 0px auto;
    text-align: center;
	
}
.time{
	margin: 0px auto;
    text-align: center;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1;
	margin-bottom: 30px;
	margin-top: 30px;
		
}

.grid {
	display:inline;
	float: left;
	position: relative;
	margin-bottom: 20px;

}
.container .grid {
	width:50%;
	
}


#pro1{
		background: url(images/img11.jpg);
	    
	    width:100%;
	    height:650px;
	    margin: 0px auto;
}
#produpl{
	width:640px;
	height:400px;
	float: left;
}

#produpr{
	width:540px;
	height:400px;
	float: right;
	margin-right: 20px;
}

#prodmid{
	width:1;
	float: left;
    WORD-BREAK: break-all; 
	background: url(images/img11.jpg);
	
}

#proddown{
	width:1;
	height:100px;
	float: left;
}


#content {
	margin: 0px auto;
}

    a{
		text-decoration-line: none;
		color: whitesmoke;
     }  

    ul,li{
		list-style: none;color:aliceblue;
    }
    .le>li{
		width: 100%; 
		text-align: center;
		padding: 10px; 
		background: url(images/m1.jpg)no-repeat;	
		background-size: 100% 100%;
		font-size: 26px;
		float: left
}
    .le>li a{
		color:#fff;
		text-decoration: none;
		font-size: 25px
}
    .le>li a:hover{
		color:#EDEC0F;
		text-decoration: none;
		font-size: 25px
}
    .le>li:hover{
		background:url(images/m1-act.jpg)no-repeat;
		background-size: 100% 100%;
}  

#con{
	margin: 0px auto;
	float: left;
}
#zuo{
	float: left;
	width: 30%;
	margin-top: 30px;


}
#you{
	float: right;
	width: 60%;
	margin-top: 40px;
	margin-bottom: 100px;
	padding-right: 60px;
}

#cart{
	width:100%;
	height:100%;
	margin-top: 30px;
    background-size: 100% 100%;
	WORD-BREAK: break-all; 
}

table.mt {
	font-size:20px;
	color:#333333;
	margin-top: 15px;
	margin-bottom: 15px;
	border-width: 5px;
	border-color: #666666;
	border-collapse: collapse;
	border-right:1px solid #aaa;
	border-bottom:1px solid #aaa;
}
table.mt td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.mt thead tr {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}


#colOne {
	float: right;
	width: 50%;
	height:240px;
	margin-top: 40px;
	padding-right: 40px;
	background: url(images/img14.jpg) no-repeat；
}

#colTwo {
	float: left;
	width: 40%;
	margin-top: 40px;
	padding-right: 40px;
	padding-left: 20px;
}

#colTwo ul {
	margin-left: 0px;
	padding-left: 0px;
	list-style-position: inside;
}

#content h1 {
	padding: 5px 0px 5px 5px;
	color: #173E68;
}

#content h2 {
	padding: 5px 0px 5px 5px;
	text-transform: uppercase;
	font-size: 30px;
	color: #6C6C6C;
	border-bottom: 1px dashed;
}

#content h3 {
	color: #6C6C6C;
	font-size: 25px;
}

.footer{
	height: 25px;
	margin: -25px 0 0 0;
	text-align: center;
	background:#666666;
}
